﻿@model Cheque.Web.Model.ChequeModel
@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        font-size: 11pt;
    }

    .amountInWords {
        position: absolute;
        margin-top: 125px;
        margin-left: 20px;
        font-weight: bold;
    }

    .amount {
        position: absolute;
        margin-top: 110px;
        margin-left: 470px;
        font-weight: bold;
        font-size: 15pt;
    }

    .date {
        position: absolute;
        margin-top: 55px;
        margin-left: 480px;
        font-weight: bold;
    }

    .payee {
        position: absolute;
        margin-top: 95px;
        margin-left: 50px;
        font-weight: bold;
    }
</style>
@using (Html.BeginForm("DisplayResult", "Cheque"))
{
    <table>
        <tr>
            <td>Payee Name:</td>
            <td>
                @Html.TextBoxFor(x => x.Payee)<br />
                @Html.ValidationMessageFor(x => x.Payee)
            </td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td>
                @Html.TextBoxFor(x => x.Amount)<br />
                @Html.ValidationMessageFor(x => x.Amount)
            </td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>
                @Html.TextBoxFor(x => x.Date)<br />
                @Html.ValidationMessageFor(x => x.Date)
            </td>
        </tr>
        <tr><td></td><td><input type="submit" name="Submit" value="Submit" /></td></tr>

    </table>
}
@{
    if (Model != null)
    {
        <div class="jumbotron">

            <div class="amountInWords">@Model.AmountInWords</div>
            <div class="amount">@Model.Amount/-</div>
            <div class="date">@Model.Date.ToShortDateString()</div>
            <div class="payee">@Model.Payee</div>
            <img src="~/Content/img/cheque.png" />
        </div>
    }
}
